@font-face {
  font-family: 'gingericon';
  src:  url('fonts/gingericon.eot?kw0eut');
  src:  url('fonts/gingericon.eot?kw0eut#iefix') format('embedded-opentype'),
    url('fonts/gingericon.ttf?kw0eut') format('truetype'),
    url('fonts/gingericon.woff?kw0eut') format('woff'),
    url('fonts/gingericon.svg?kw0eut#gingericon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gingericon-"], [class*=" gingericon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gingericon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gingericon-apps:before {
  content: "\e94c";
}
.gingericon-offline:before {
  content: "\e94b";
}
.gingericon-send-feedback:before {
  content: "\e900";
}
.gingericon-close:before {
  content: "\e901";
}
.gingericon-personaldictionary:before {
  content: "\e902";
}
.gingericon-synonyms:before {
  content: "\e903";
}
.gingericon-settings:before {
  content: "\e904";
}
.gingericon-switch:before {
  content: "\e905";
}
.gingericon-translate:before {
  content: "\e906";
}
.gingericon-addtodictionary:before {
  content: "\e907";
}
.gingericon-arrow-down:before {
  content: "\e908";
}
.gingericon-dictionary:before {
  content: "\e909";
}
.gingericon-search:before {
  content: "\e90a";
}
.gingericon-writer:before {
  content: "\e90b";
}
.gingericon-ginger:before {
  content: "\e90c";
}
.gingericon-disable:before {
  content: "\e90d";
}
.gingericon-open:before {
  content: "\e90e";
}
.gingericon-dropdown-arrow:before {
  content: "\e938";
}
.gingericon-windows:before {
  content: "\e939";
}
.gingericon-feedback:before {
  content: "\e93a";
}
.gingericon-premium:before {
  content: "\e93b";
}
.gingericon-tick:before {
  content: "\e936";
}
.gingericon-cross:before {
  content: "\e937";
}
.gingericon-money_icon:before {
  content: "\e933";
}
.gingericon-arrow-right:before {
  content: "\e935";
}
.gingericon-platforms:before {
  content: "\e934";
}
.gingericon-arrow-left:before {
  content: "\e90f";
}
.gingericon-browsers_icon:before {
  content: "\e910";
}
.gingericon-errors_icon:before {
  content: "\e92f";
}
.gingericon-facebook_icon:before {
  content: "\e930";
}
.gingericon-google+_icon:before {
  content: "\e931";
}
.gingericon-help:before {
  content: "\e932";
}
.gingericon-chrome:before {
  content: "\e911";
}
.gingericon-personaldictionary2:before {
  content: "\e912";
}
.gingericon-definition:before {
  content: "\e913";
}
.gingericon-phraseoftheday-o:before {
  content: "\e914";
}
.gingericon-star:before {
  content: "\e915";
}
.gingericon-synonyms2:before {
  content: "\e916";
}
.gingericon-heart:before {
  content: "\e917";
}
.gingericon-caret-right:before {
  content: "\e918";
}
.gingericon-googleplus:before {
  content: "\e919";
}
.gingericon-caret-left:before {
  content: "\e91a";
}
.gingericon-caret-down:before {
  content: "\e91b";
}
.gingericon-approveall:before {
  content: "\e91c";
}
.gingericon-info-o:before {
  content: "\e91d";
}
.gingericon-quicktour-o:before {
  content: "\e91e";
}
.gingericon-star-o:before {
  content: "\e91f";
}
.gingericon-synonyms-o:before {
  content: "\e920";
}
.gingericon-settings-o:before {
  content: "\e921";
}
.gingericon-rephrase:before {
  content: "\e922";
}
.gingericon-linkedin:before {
  content: "\e923";
}
.gingericon-facebook:before {
  content: "\e924";
}
.gingericon-twitter:before {
  content: "\e925";
}
.gingericon-trainer-o:before {
  content: "\e926";
}
.gingericon-contact-o:before {
  content: "\e927";
}
.gingericon-android:before {
  content: "\e928";
}
.gingericon-undo-o:before {
  content: "\e929";
}
.gingericon-tick-o:before {
  content: "\e92a";
}
.gingericon-switch2:before {
  content: "\e92b";
}
.gingericon-search2:before {
  content: "\e92c";
}
.gingericon-office:before {
  content: "\e92d";
}
.gingericon-trash-o:before {
  content: "\e92e";
}
.gingericon-sound:before {
  content: "\e93c";
}
.gingericon-gmail:before {
  content: "\e93d";
}
.gingericon-email:before {
  content: "\e93e";
}
.gingericon-check:before {
  content: "\e93f";
}
.gingericon-apple:before {
  content: "\e940";
}
.gingericon-undo:before {
  content: "\e941";
}
.gingericon-plus:before {
  content: "\e942";
}
.gingericon-menu:before {
  content: "\e943";
}
.gingericon-google:before {
  content: "\e944";
}
.gingericon-translator:before {
  content: "\e945";
}
.gingericon-sound-o:before {
  content: "\e946";
}
.gingericon-rephrase-o:before {
  content: "\e947";
}
.gingericon-personal-trainer:before {
  content: "\e948";
}
.gingericon-correct-o:before {
  content: "\e949";
}
.gingericon-dictionary-o:before {
  content: "\e94a";
}
