<div class="blog-header container">
			<a href="<%- config.root %>">
				<h1 class="blog-title text-uppercase"><%= config.title %></h1>
			</a>
	<% if (theme.subtitle){ %>		<p class="lead blog-description"><%= theme.subtitle %></p><% } %>
		</div>