/* Emblem Theme */

/* GLOBAL */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #424242;
}

h1 {
	font-family: 'Jura', sans-serif;
	font-weight: bold;
	cursor: default;
	font-size: 2.8rem;
    text-shadow: 0 0.0625rem 0 rgba(255, 255, 255, 0.3), 0 -0.0625rem 0.0625rem rgba(248, 249, 250, 0.17);
}

body {
	font-family: 'Anonymous Pro';
	font-style: normal;
}

/* NAVBAR */

.navbar {
    background-color: #906990;
}

.nav-link:hover {
	text-decoration: overline;
}

#theme-navigation > ul > li:nth-child(1) > a:before {
	content: "\f100\00a0";
	font: normal normal normal 0.875rem/1 FontAwesome;
	display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

/* PAGE HEADER */

.blog-header {
	user-select: none;
	
	.blog-title {
	    margin-top: 2rem;
	    color: rgba(255, 255, 255, 0.7);
	    margin-bottom: 0;
	    font-size: 4rem;
	    font-weight: normal;
	    cursor: pointer;
	    text-shadow: 0.0625rem 0.0625rem 0 #ff00d4;
	    display: inline-flex;
	}

	.blog-description {
	    font-size: 1rem;
	    margin-left: 0.3rem;
	}
}

/* PAGE FOOTER */

.blog-footer {
	padding: 1rem;
	color: rgba(255,255,255,.5);
	background-color: #906990;
	font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 0.8rem;
	
	a {
		color: #fff;
	}
}

/* SIDEBAR */

.sidebar-module-list {
	.sidebar-module-list-item,
	.sidebar-module-link,
	.sidebar-module-child {
		list-style: none;
	}
}

.sidebar-module-inset {
    padding: 1rem;
    background-color: rgba(143, 105, 144, 0.19);
    border-radius: 0.3rem;
}

/* CODE HIGHLIGHTS */

.highlight {
	.line.marked {
		background-color: rgba(255, 255, 0, 0.54);
	}
	
	pre {
	    background-color: #eae3ea;
	    padding: 0.5rem;
	    border-radius: 0.3rem;
	}
}

/* ARTICLE */

.article-entry {
	p {
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	
	.article-gallery-photos {
		border-bottom: 0.3rem solid #eae3ea;
	    border-radius: 1.2rem;
	    margin-bottom: 1rem;
	}
	
	img {
		border-radius: 0.3rem;
		margin-bottom: 0.5rem;
	}
	
	.pullquote {
		&.left {
			border-right: 0.3rem solid #eae3ea;
		    border-radius: 1.2rem;
		    margin-right: 1rem;
		}
		&.right {
			border-left: 0.3rem solid #eae3ea;
		    border-radius: 1.2rem;
		    padding-left: 1rem;
		    margin-right: 1rem;
		}
	}
	
	blockquote {
		footer {
			    margin-left: 50%;
				text-overflow: ellipsis;
				overflow: hidden;
		}
	}
}

#article-nav>li>a {
    border: 0.0625rem solid #906990;
}

time[itemprop="datePublished"]::before {
	content: "\f073\00a0";
	font: normal normal normal 0.875rem/1 FontAwesome;
	display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    font-size: 1rem;
    margin-right: 0.25rem;
    -webkit-font-smoothing: antialiased;
}

time[itemprop="timePublished"]::before {
	content: "\f017\00a0";
	font: normal normal normal 0.875rem/1 FontAwesome;
	display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    margin-right: 0.25rem;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

.article-author::before {
	content: "\f21b";
	font: normal normal normal 0.875rem/1 FontAwesome;
	display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    margin-right: 0.15rem;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

.article-header h1 a:hover {
  color: inherit;
}

.article-meta {
	font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 0.8rem;
    color: #757575;
    cursor: default;
}

.article-datetime:hover time::before{
	color: #ffbcf3;
}

.article-author:hover {
	cursor: default;
	&::before {
		color: #ffbcf3;
	}
}

.article-entry .caption {
    color: #8f6990;
}

.article-more-link {
	.btn {
		width: 100%;
	}
}

/* EXTRA */

.archive-article-title:hover,
.archive-year:hover,
.sidebar-module-list a:hover {
	color: initial;
	text-decoration: overline;
}

.btn{
	background-color: #906990;
	border-color: #906990;
	&.btn-primary,
	&.btn-outline-primary {
		&:hover {
			background-color: #5d415d;
			border-color: #906990;
		}
	}
	&.btn-outline-primary {
		color: #fff;
	}
}

.table td, .table th {
    padding: 0.5rem;
}


a {
	color: #6d1588;;
	&:hover {
		color: rgb(255, 188, 243);
		text-decoration: overline;
	}
}

a:not([href]):not([tabindex]) {
	color: #999;
}

/* SHARE BUTTONS */

.fancybox-button--fb, .fancybox-button--tw {
	background-color: #fff;
	svg path {
		color: #8f6990;
		stroke-width: 1;
	}
}

/* PAGINATION */

.pagination {
    font-size: 0.8rem;
}

#page-nav .pagination .active>* {
    background-color: #8f6990;
    border-color: #8f6990;
}

.pagination>li>a, .pagination>li>span {
    color: #424242;
}

.pagination>li>a:hover {
	color: #424242;
}
